<%- layout("../layout.ejs") %>
<script type="text/javascript" src="/js/controllers/characterFreebiesController.js"></script>
<div class="container" ng-controller="CharacterFreebiesController" ng-init="init('<%= characterid %>')">
    <h1 class="page-header hidden-xs hidden-sm">Assign free traits</h1>
    <div class="col-lg-9">

        <!-- Concept -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Concept
            </div>
            <div class="panel-body">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6"><b>Name: </b></div>
                        <div class="col-lg-6"><b>{{character.name}}</b></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6"><b>Clan: </b></div>
                        <div class="col-lg-6"><b>{{character.clan}}</b></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6"><b>Sect: </b></div>
                        <div class="col-lg-6"><b>{{character.sect}}</b></div>
                    </div>
                </div>
                <div class="col-lg-6" ng-show="currentIndex > 0">
                    <div class="row">
                        <div class="col-lg-6"><b>Nature: </b></div>
                        <div class="col-lg-6"><b>{{character.nature}}</b></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6"><b>Demeanor: </b></div>
                        <div class="col-lg-6"><b>{{character.demeanor}}</b></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6"><b>Path: </b></div>
                        <div class="col-lg-6"><b>{{character.path.name}}</b></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Attributes -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Attributes
            </div>
            <div class="panel-body">
                <div class="col-lg-4">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            {{calctotal(character.attributes.physical)}} Physical
                        </li>
                        <li ng-repeat='t in character.attributes.physical | orderBy:"name":false'
                            class="list-group-item trait">
                            {{ t.name }}
                                            <span ng-show="t.val > 1">
                                                ({{ t.val }})
                                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            {{calctotal(character.attributes.social)}} Social
                        </li>
                        <li ng-repeat='t in character.attributes.social | orderBy:"name":false'
                            class="list-group-item trait">
                            {{ t.name }}
                                            <span ng-show="t.val > 1">
                                                ({{ t.val }})
                                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            {{calctotal(character.attributes.mental)}} Mental
                        </li>
                        <li ng-repeat='t in character.attributes.mental | orderBy:"name":false'
                            class="list-group-item trait">
                            {{ t.name }}
                                            <span ng-show="t.val > 1">
                                                ({{ t.val }})
                                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Advantages -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Advantages
            </div>
            <div class="panel-body">
                <div class="col-lg-4">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            {{calctotal(character.abilities)}} Abilities
                        </li>
                        <li ng-repeat='t in character.abilities | orderBy:"name":false'
                            class="list-group-item trait">
                            {{ t.name }}
                                    <span ng-show="t.rating > 1">
                                        x{{ t.rating }}
                                    </span>
                                    <span ng-show="t.note.length > 0">
                                        ({{ t.note }})
                                    </span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            {{calctotal(character.disciplines)}} Disciplines
                        </li>
                        <li ng-repeat='t in character.disciplines | orderBy:"path":false'
                            class="list-group-item trait">
                            {{t.path}}: {{ t.name }} ({{t.level}})
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            {{calctotal(character.backgrounds)}} Backgrounds
                        </li>
                        <li ng-repeat='t in character.backgrounds | orderBy:"name":false'
                            class="list-group-item trait">
                            {{ t.name }}
                                    <span ng-show="t.rating > 1">
                                        x{{ t.rating }}
                                    </span>
                                    <span ng-show="t.note.length > 0">
                                        ({{ t.note }})
                                    </span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            {{calctotal(character.influences)}} Influences
                        </li>
                        <li ng-repeat='t in character.influences | orderBy:"name":false'
                            class="list-group-item trait">
                            {{ t.name }}
                                    <span ng-show="t.rating > 1">
                                        x{{ t.rating }}
                                    </span>
                                    <span ng-show="t.note.length > 0">
                                        ({{ t.note }})
                                    </span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4" ng-show="currentIndex > 3">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            {{character.conscience.rating + character.selfcontrol.rating +
                            character.courage.rating}} Virtues
                        </li>
                        <li class="list-group-item trait">
                            {{character.conscience.name}} x {{character.conscience.rating}}
                        </li>
                        <li class="list-group-item trait">
                            {{character.selfcontrol.name}} x {{character.selfcontrol.rating}}
                        </li>
                        <li class="list-group-item trait">
                            {{character.courage.name}} x {{character.courage.rating}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Disadvantages -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Disadvantages
            </div>
            <div class="panel-body">
                <div class="col-lg-4">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            {{calctotal(character.attributes.negativephysical)}} Negative Physical
                        </li>
                        <li ng-repeat='t in character.attributes.negativephysical | orderBy:"name":false'
                            class="list-group-item trait">
                            {{ t.name }}
                                    <span ng-show="t.val > 1">
                                        ({{ t.val }})
                                    </span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            {{calctotal(character.attributes.negativesocial)}} Negative Social
                        </li>
                        <li ng-repeat='t in character.attributes.negativesocial | orderBy:"name":false'
                            class="list-group-item trait">
                            {{ t.name }}
                                    <span ng-show="t.val > 1">
                                        ({{ t.val }})
                                    </span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            {{calctotal(character.attributes.negativemental)}} Negative Mental
                        </li>
                        <li ng-repeat='t in character.attributes.negativemental | orderBy:"name":false'
                            class="list-group-item trait">
                            {{ t.name }}
                                    <span ng-show="t.val > 1">
                                        ({{ t.val }})
                                    </span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            {{calctotalcost(character.flaws)}} Flaws
                        </li>
                        <li ng-repeat='t in character.flaws | orderBy:"name":false'
                            class="list-group-item trait">
                            {{ t.name }} ({{t.cost}})
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            {{calctotal(character.derangements)}} Derangements
                        </li>
                        <li ng-repeat='t in character.derangements'
                            class="list-group-item trait">
                            {{ t.name }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">

        <!-- Freebies -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Free trait spending
            </div>
            <div class="panel-body">
                <div class="col-lg-12">
                    Remaining free traits:
                </div>
            </div>
        </div>
    </div>
</div>