<% layout("../layout.ejs") %>
<script type="text/javascript" charset="utf-8" src="/js/modules/cymeriad.confirmClick.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/modules/cymeriad.readMore.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/modules/cymeriad.JSON.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/modules/cymeriad.services.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/modules/cymeriad.propertyFilter.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/applications/cymeriad.app.character.js"></script>
<script type="text/javascript" src="/js/controllers/cymeriad.controller.character.concept.js"></script>
<div class="container" ng-app="cymeriad.app.character" ng-controller="cymeriad.controller.character.concept" ng-init="init()">
    <h1 class="page-header hidden-xs hidden-sm">New concept</h1>

    <div class="col-lg-12">
        <div class="row" ng-show="showForm()">
            <form class="form-horizontal" name="conceptForm">
                <div class="form-group ">
                    <label class="col-sm-2 control-label">Chronicle:</label>

                    <div class="col-sm-10">
                        <select class="form-control"
                                ng-required="true"
                                ng-options="c as c.name for c in chronicles"
                                ng-model="schronicle">
                            <option style="display:none" value="">Select a chronicle</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Character name:</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="name" ng-required="true" />
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-sm-2 control-label">Clan:</label>

                    <div class="col-sm-10">
                        <select class="form-control"
                                ng-required="true"
                                ng-options="c as c.name + '    (' + c.source + ')' group by 'Exotic level: ' + c.exotic for c in clans | orderBy:'exotic':false"
                                ng-model="sclan">
                            <option style="display:none" value="">Select a clan</option>
                        </select>
                        <div ng-show="sclan.exotic > 0 && sclan.exotic < 20" class="text-warning">Choosing this clan adds {{sclan.exotic}} exotic points and requires ST approval</div>
                        <div ng-show="sclan.exotic >= 20" class="text-danger">This clan is strictly limited to NPC characters and will never be approved</div>
                        <div ng-show="sclan.name != undefined && clandisciplines.indexOf(sclan.name.trim()) == -1" class="text-warning">Data for this clan is currently incomplete. You will require the source book to find more specific details</div>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-sm-2 control-label">Sect:</label>

                    <div class="col-sm-10">
                        <select class="form-control"
                                ng-required="true"
                                ng-options="c as c.name + '    (' + c.source + ')' group by 'Exotic level: ' + c.exotic for c in sects | orderBy:'exotic':false"
                                ng-model="ssect">
                            <option style="display:none" value="">Select a sect</option>
                        </select>
                        <div ng-show="ssect.exotic > 0 && ssect.exotic < 20" class="text-warning">Choosing this sect adds {{ssect.exotic}} exotic points and requires ST approval</div>
                        <div ng-show="ssect.exotic >= 20" class="text-danger">This sect is strictly limited to NPC characters and will never be approved</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Description (maximum 1500 characters):</label>

                    <div class="col-sm-10">
                        <textarea class="form-control" ng-model="concept" ng-required="true" maxlength="1500" rows="5"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary form-control" ng-click="submitForm()">Create concept</button>
                </div>
            </form>
        </div>
        <div class="row" ng-show="showNoChrons()">
            You are not part of any chronicles. Ask your Storyteller to add you.
        </div>
        <div class="row" ng-show="showSubmitted()">
            <a class="btn btn-default" ng-href="/character/wizard/{{characterid}}">Next step: create draft</a>
        </div>
    </div>
</div>