<% layout("../layout.ejs") %>
<script type="text/javascript" src="/js/controllers/characterEditController.js"></script>

<div id="content" class="container" ng-controller="CharacterEditController" ng-init="init('<%= characterid %>')"
     ng-form="characterForm">
    <h1 class="page-header">{{character.name}}
        <div class='btn-toolbar pull-right hidden-print'>
            <button type='button' class='btn btn-info' ng-click="save()"><span class="glyphicon glyphicon-save"></span>
                Save
            </button>
        </div>
    </h1>
    <div id='pnlAbout' class="panel panel-default">
        <div class="panel-heading clickable" data-toggle="collapse" data-target="#collapseAbout">
            <h4 id="hdrAbout" class="panel-title">
                About
            </h4>
        </div>

        <div id="collapseAbout" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3 form-horizontal">
                            <div class="form-group row">
                                <label class="col-md-6"><b>Player:</b></label>
                                <select data-field="googleId" class="nopadding col-md-6"
                                        ng-options="player.googleId as display(player) for player in players"
                                        ng-model="character.player.googleId">
                                    <option style="display:none" value="">Select a player</option>
                                </select>
                            </div>
                            <div class="form-group row"><b class="col-md-6">Chronicle:</b><span
                                        class=" col-md-6 nopadding">{{character.chronicle.name}}</span></div>
                            <div class="form-group row"><b class="col-md-6">Status:</b>
                                <select data-field="state" class="nopadding col-md-6"
                                        ng-options="status as status for status in statusses"
                                        ng-model="character.state">
                                    <option style="display:none" value="">Select a status</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-md-6"><b>Experience unspent:</b></label>
                                <input type="number" class="col-md-6 nopadding" ng-model="character.experience.unspent"
                                       data-field="experience.unspent"/>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>Total experience earned:</b></label>
                                <input type="number" class="col-md-6 nopadding" ng-model="character.experience.total"
                                       data-field="experience.total"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <span class="col-md-6"><b>Created on</b></span>
                                <span class="col-md-6">{{character.created | date:"dd/MM/yyyy"}}</span>
                            </div>
                            <div class="form-group row">
                                <span class="col-md-6"><b>Last modified:</b></span>
                                <span class="col-md-6">{{character.modified | date:"dd/MM/yyyy"}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 voffset3">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-md-6"><b>Clan:</b></label>
                                <select data-field="clan" class="nopadding col-md-6"
                                        ng-options="c as c for c in clans"
                                        ng-model="character.clan">
                                    <option style="display:none" value="">Select a Clan</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>Sect:</b></label>
                                <select data-field="sect" class="nopadding col-md-6"
                                        ng-options="s as s for s in sects"
                                        ng-model="character.sect">
                                    <option style="display:none" value="">Select a Sect</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>Coterie:</b></label>
                                <input type="text" class="col-md-6 nopadding" ng-model="character.coterie"
                                       data-field="coterie"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-md-6"><b>Generation:</b></label>
                                <input type="number" class="col-md-6 nopadding" ng-model="character.generation"
                                       data-field="generation"/>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>Title:</b></label>
                                <input type="text" class="col-md-6 nopadding" ng-model="character.title"
                                       data-field="title"/>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>Sire:</b></label>
                                <input type="text" class="col-md-6 nopadding" ng-model="character.sire"
                                       data-field="sire"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-md-6"><b>Nature:</b></label>
                                <input type="text" class="col-md-6 nopadding" ng-model="character.nature"
                                       data-field="nature"/>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>Demeanor:</b></label>
                                <input type="text" class="col-md-6 nopadding" ng-model="character.demeanor"
                                       data-field="demeanor"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 voffset3">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-md-6"><b>Blood (max: {{ character.bloodpool.max }}):</b></label>
                                <input type="number" class="col-md-6 nopadding" ng-model="character.bloodpool.current"
                                       data-field="bloodpool.current"/>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>Willpower (max: {{ character.willpower.max }}):</b></label>
                                <input type="number" class="col-md-6 nopadding" ng-model="character.willpower.current"
                                       data-field="willpower.current"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-md-6"><b>Path:</b></label>
                                <select data-field="path.type" class="nopadding col-md-6"
                                        ng-options="c.name as c.name for c in paths"
                                        ng-model="character.path.name">
                                    <option style="display:none" value="">Select path</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>Morality Traits:</b></label>
                                <input type="number" class="col-md-6 nopadding" ng-model="character.path.rating"
                                       data-field="path.rating"/>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>Aura:</b></label>
                                <input type="number" class="col-md-6 nopadding" ng-model="character.aura"
                                       data-field="aura"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <select data-field="conscience.type" class="nopadding col-md-6"
                                        ng-options="c as c for c in conscienceTypes"
                                        ng-model="character.conscience.name">
                                    <option style="display:none" value="">Select conscience/conviction</option>
                                </select>
                                <input type="number" class="col-md-6 nopadding" ng-model="character.conscience.rating"
                                       data-field="conscience.rating"/>
                            </div>
                            <div class="form-group row">
                                <select data-field="selfcontrol.type" class="nopadding col-md-6"
                                        ng-options="c as c for c in selfcontrolTypes"
                                        ng-model="character.selfcontrol.name">
                                    <option style="display:none" value="">Select self-control/instinc</option>
                                </select>
                                <input type="number" class="col-md-6 nopadding" ng-model="character.selfcontrol.rating"
                                       data-field="selfcontrol.rating"/>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>{{character.courage.name}}:</b></label>
                                <input type="number" class="col-md-6 nopadding" ng-model="character.courage.rating"
                                       data-field="courage.rating"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id='pnlAttributes' class="panel panel-default">
        <div class="panel-heading clickable" data-toggle="collapse" data-target="#collapseAttributes">
            <h4 id="hdrAttributes" class="panel-title">
                Attributes
            </h4>
        </div>
        <div id="collapseAttributes" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.attributes.tphysical }} Physical
                                    Traits
                                </li>
                                <li ng-repeat='t in character.attributes.physical | orderBy:"name":false' class="list-group-item trait">
                                    {{ t.name }}
									<span ng-show="t.val > 1">
										({{ t.val }})
									</span>
                                    <button ng-click="removeTrait(t.name, character.attributes.physical, 'tphysical')" class="btn btn-xs pull-right"><span class="glyphicon glyphicon-minus"></span></button>
                                    <button ng-click="addTrait(t.name, character.attributes.physical, 'tphysical')" class="btn btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span></button>
                                </li>
                                <li>
                                    <select id="slc-physical" class=" col-md-9"
                                            ng-options="attr for attr in physical"
                                            ng-model="sphysical">
                                        <option style="display:none" value="">Select a trait</option>
                                    </select>
                                    <button ng-click="addTrait(sphysical, character.attributes.physical, 'tphysical', 'physical')" class="btn btn-default btn-sm pull-right">Add</button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.attributes.tsocial }} Social
                                    Traits
                                </li>
                                <li ng-repeat='t in character.attributes.social' class="list-group-item trait">
                                    {{ t.name }}
									<span ng-show="t.val > 1">
										({{ t.val }})
									</span>
                                    <button ng-click="removeTrait(t.name, character.attributes.social, 'tsocial')" class="btn btn-xs pull-right"><span class="glyphicon glyphicon-minus"></span></button>
                                    <button ng-click="addTrait(t.name, character.attributes.social, 'tsocial')" class="btn btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span></button>
                                </li>
                                <li>
                                    <select id="slc-social" class=" col-md-9"
                                            ng-options="attr for attr in social"
                                            ng-model="ssocial">
                                        <option style="display:none" value="">Select a trait</option>
                                    </select>
                                    <button ng-click="addTrait(ssocial, character.attributes.social, 'tsocial', 'social')" class="btn btn-default btn-sm pull-right">Add</button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.attributes.tmental }} Mental
                                    Traits
                                </li>
                                <li ng-repeat='t in character.attributes.mental' class="list-group-item trait">
                                    {{ t.name }}
									<span ng-show="t.val > 1">
										({{ t.val }})
									</span>
                                    <button ng-click="removeTrait(t.name, character.attributes.mental, 'tmental')" class="btn btn-xs pull-right"><span class="glyphicon glyphicon-minus"></span></button>
                                    <button ng-click="addTrait(t.name, character.attributes.mental, 'tmental')" class="btn btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span></button>
                                </li>
                                <li>
                                    <select id="slc-mental" class=" col-md-9"
                                            ng-options="attr for attr in mental"
                                            ng-model="smental">
                                        <option style="display:none" value="">Select a trait</option>
                                    </select>
                                    <button ng-click="addTrait(smental, character.attributes.mental, 'tmental', 'mental')" class="btn btn-default btn-sm pull-right">Add</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.attributes.tnegativephysical }}
                                    Negative Physical Traits
                                </li>
                                <li ng-repeat='t in character.attributes.negativephysical'
                                    class="list-group-item trait">
                                    {{ t.name }}
									<span ng-show="t.val > 1">
										({{ t.val }})
									</span>
                                    <button ng-click="removeTrait(t.name, character.attributes.negativephysical, 'tnegativephysical')" class="btn btn-xs pull-right"><span class="glyphicon glyphicon-minus"></span></button>
                                    <button ng-click="addTrait(t.name, character.attributes.negativephysical, 'tnegativephysical')" class="btn btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span></button>
                                </li>
                                <li>
                                    <select id="slc-negativephysical" class=" col-md-9"
                                            ng-options="attr for attr in negativephysical"
                                            ng-model="snegativephysical">
                                        <option style="display:none" value="">Select a trait</option>
                                    </select>
                                    <button ng-click="addTrait(snegativephysical, character.attributes.negativephysical, 'tnegativephysical', 'negativephysical')" class="btn btn-default btn-sm pull-right">Add</button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.attributes.tnegativesocial }}
                                    Negative Social Traits
                                </li>
                                <li ng-repeat='t in character.attributes.negativesocial' class="list-group-item trait">
                                    {{ t.name }}
									<span ng-show="t.val > 1">
										({{ t.val }})
									</span>
                                    <button ng-click="removeTrait(t.name, character.attributes.negativesocial, 'tnegativesocial')" class="btn btn-xs pull-right"><span class="glyphicon glyphicon-minus"></span></button>
                                    <button ng-click="addTrait(t.name, character.attributes.negativesocial, 'tnegativesocial')" class="btn btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span></button>
                                </li>
                                <li>
                                    <select id="slc-negativesocial" class=" col-md-9"
                                            ng-options="attr for attr in negativesocial"
                                            ng-model="snegativesocial">
                                        <option style="display:none" value="">Select a trait</option>
                                    </select>
                                    <button ng-click="addTrait(snegativesocial, character.attributes.negativesocial, 'tnegativesocial', 'negativesocial')" class="btn btn-default btn-sm pull-right">Add</button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.attributes.tnegativemental }}
                                    Negative Mental Traits
                                </li>
                                <li ng-repeat='t in character.attributes.negativemental' class="list-group-item trait">
                                    {{ t.name }}
									<span ng-show="t.val > 1">
										({{ t.val }})
									</span>
                                    <button ng-click="removeTrait(t.name, character.attributes.negativemental, 'tnegativemental')" class="btn btn-xs pull-right"><span class="glyphicon glyphicon-minus"></span></button>
                                    <button ng-click="addTrait(t.name, character.attributes.negativemental, 'tnegativemental')" class="btn btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span></button>
                                </li>
                                <li>
                                    <select id="slc-negativemental" class=" col-md-9"
                                            ng-options="attr for attr in negativemental"
                                            ng-model="snegativemental">
                                        <option style="display:none" value="">Select a trait</option>
                                    </select>
                                    <button ng-click="addTrait(snegativemental, character.attributes.negativemental, 'tnegativemental', 'negativemental')" class="btn btn-default btn-sm pull-right">Add</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id='pnlAdvantages' class="panel panel-default">
        <div class="panel-heading clickable" data-toggle="collapse" data-target="#collapseAdvantages">
            <h4 id="hdrAdvantages" class="panel-title">
                Advantages
            </h4>
        </div>
        <div id="collapseAdvantages" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.abilities.length }} Abilities</li>
                                <li ng-repeat="a in character.abilities" class="list-group-item">
                                    {{ a.name + ": " + a.rating }}
                                    <span ng-show="a.note.length > 0">
                                    ( {{ a.note }} )
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.disciplines.length }} Disciplines</li>
                                <li ng-repeat="d in character.disciplines" class="list-group-item">
                                    {{ d.path + ": " + d.name + " (" + d.level + ")" }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.rituals.length }} Rituals</li>
                                <li ng-repeat="r in character.rituals" class="list-group-item">
                                    {{ r.name + " (" + r.level + ")" }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.backgrounds.length }} Backgrounds</li>
                                <li ng-repeat="b in character.backgrounds" class="list-group-item trait">
                                    {{ b.name + ": " + b.rating }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.influences.length }} Influences</li>
                                <li ng-repeat="i in character.influences" class="list-group-item trait">
                                    {{ i.name + ": " + character.influences[i].rating }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.misc.length }} Miscelaneous Traits</li>
                                <li ng-repeat="m in character.misc" class="list-group-item">
                                    {{ m.name }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.status.length }} Status</li>
                                <li ng-repeat="s in character.status" class="list-group-item">
                                    {{ s.name }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.merits.length }} Merits</li>
                                <li ng-repeat="m in character.merits" class="list-group-item trait">
                                    {{ m.name + " (" + m.cost + ")" }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.flaws.length }} Flaws</li>
                                <li ng-repeat="f in character.flaws" class="list-group-item">
                                    {{ f.name + " (" + f.cost + ")" }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">Health Levels</li>
                                <li ng-repeat="(key,val) in character.healthlevels" class="list-group-item">
                                    {{ key + " (" + val + ")" }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.equipment.length }} Equipment</li>
                                <li ng-repeat="e in character.equipment" class="list-group-item">
                                    {{ e.name }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading clickable" data-toggle="collapse" data-target="#collapseEditHistory">
            <h4 id="hdrAbout" class="panel-title">
                About
            </h4>
        </div>

        <div id="collapseEditHistory" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row" >
                    <div class="col-md-2 default"><b>Revert to previous</b></div>
                    <div class="col-md-1 default"><b>Date</b></div>
                    <div class="col-md-2 default"><b>User</b></div>
                    <div class="col-md-7 default"><b>Changed fields / new values</b></div>
                </div>
                <div class="row" ng-class-odd="'warning'" ng-class-even="''" ng-repeat="item in character.modificationhistory">
                    <div class="col-md-2"><button class="btn btn-xs btn-danger" ng-confirm-click="Are you sure?" ng-click="revert(item.date)">Revert to this version</button></div>
                    <div class="col-md-1">{{item.date | date:"dd/MM/yyyy"}}</div>
                    <div class="col-md-2">{{item.user.name}}</div>
                    <div class="col-md-7">{{item.fields}}</div>
                </div>
            </div>
        </div>
    </div>
</div>