<% layout("../layout.ejs") %>
<script type="text/javascript" charset="utf-8" src="/js/modules/cymeriad.confirmClick.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/modules/cymeriad.readMore.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/modules/cymeriad.JSON.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/modules/cymeriad.services.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/modules/cymeriad.propertyFilter.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/applications/cymeriad.app.character.js"></script>
<script type="text/javascript" src="/js/controllers/cymeriad.controller.character.edit.js"></script>
<div id="content" class="container" ng-app="cymeriad.app.character" ng-controller="cymeriad.controller.character.edit" ng-init="init('<%= characterid %>')"
     ng-form="characterForm">
    <h1 class="page-header">{{character.name}}
        <div class='btn-toolbar pull-right hidden-print'>
            <button type='button' class='btn btn-info' ng-click="save()"><span class="glyphicon glyphicon-save"></span>
                Save
            </button>
        </div>
    </h1>
    <div id='pnlAbout' class="panel panel-default">
        <div class="panel-heading clickable" data-toggle="collapse" data-target="#collapseAbout">
            <h4 id="hdrAbout" class="panel-title">
                About
            </h4>
        </div>

        <div id="collapseAbout" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4 form-horizontal">
                            <div class="form-group row">
                                <label class="col-md-6"><b>Player:</b></label>
                                <select data-field="googleId" class="nopadding col-md-6"
                                        ng-options="player.googleId as display(player) for player in players"
                                        ng-model="character.player.googleId">
                                    <option style="display:none" value="">Select a player</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>Character name:</b></label>
                                <input type="text" class="col-md-6 nopadding" ng-model="character.name"
                                       data-field="name"/>
                            </div>
                            <div class="form-group row"><b class="col-md-6">Status:</b>
                                <select data-field="state" class="nopadding col-md-6"
                                        ng-options="status as status for status in statusses"
                                        ng-model="character.state">
                                    <option style="display:none" value="">Select a status</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row"><b class="col-md-6">Chronicle:</b><span
                                        class=" col-md-6 nopadding">{{character.chronicle.name}}</span></div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>Experience unspent:</b></label>
                                <input type="number" class="col-md-6 nopadding" ng-model="character.experience.unspent"
                                       data-field="experience.unspent"/>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>Total experience earned:</b></label>
                                <input type="number" class="col-md-6 nopadding" ng-model="character.experience.total"
                                       data-field="experience.total"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <span class="col-md-6"><b>Created on</b></span>
                                <span class="col-md-6">{{character.created | date:"dd/MM/yyyy"}}</span>
                            </div>
                            <div class="form-group row">
                                <span class="col-md-6"><b>Last modified:</b></span>
                                <span class="col-md-6">{{character.modified | date:"dd/MM/yyyy"}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 voffset3">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-md-6"><b>Clan:</b></label>
                                <select data-field="clan" class="nopadding col-md-6"
                                        ng-options="c.name as c.name + '    (' + c.source + ')' group by 'Exotic level: ' + c.exotic for c in clans | orderBy:'exotic':false"
                                        ng-model="character.clan">
                                    <option style="display:none" value="">Select a Clan</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>Sect:</b></label>
                                <select data-field="sect" class="nopadding col-md-6"
                                        ng-options="c.name as c.name + '    (' + c.source + ')' group by 'Exotic level: ' + c.exotic for c in sects | orderBy:'exotic':false"
                                        ng-model="character.sect">
                                    <option style="display:none" value="">Select a Sect</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>Coterie:</b></label>
                                <input type="text" class="col-md-6 nopadding" ng-model="character.coterie"
                                       data-field="coterie"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-md-6"><b>Generation:</b></label>
                                <input type="number" class="col-md-6 nopadding" ng-model="character.generation"
                                       data-field="generation"/>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>Title:</b></label>
                                <input type="text" class="col-md-6 nopadding" ng-model="character.title"
                                       data-field="title"/>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>Sire:</b></label>
                                <input type="text" class="col-md-6 nopadding" ng-model="character.sire"
                                       data-field="sire"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-md-6"><b>Nature:</b></label>
                                <select data-field="nature" class="nopadding col-md-6"
                                        ng-options="nature.name as nature.name + '    (' + nature.source + ')' for nature in natures"
                                        ng-model="character.nature">
                                    <option style="display:none" value="">Select a nature</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>Demeanor:</b></label>
                                <select data-field="demeanor" class="nopadding col-md-6"
                                        ng-options="nature.name as nature.name + '    (' + nature.source + ')' for nature in natures"
                                        ng-model="character.demeanor">
                                    <option style="display:none" value="">Select a demeanor</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 voffset3">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-md-6"><b>Blood (max: {{ character.bloodpool.max }}):</b></label>
                                <input type="number" class="col-md-6 nopadding" ng-model="character.bloodpool.current"
                                       data-field="bloodpool.current"/>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>Willpower (max: {{ character.willpower.max }}):</b></label>
                                <input type="number" class="col-md-6 nopadding" ng-model="character.willpower.current"
                                       data-field="willpower.current"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-md-6"><b>Path:</b></label>
                                <select data-field="path.name" class="nopadding col-md-6"
                                        ng-options="p.name as p.name for p in paths"
                                        ng-change="updateMorality()"
                                        ng-model="character.path.name">
                                    <option style="display:none" value="">Select path</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>Morality Traits:</b></label>
                                <input type="number" class="col-md-6 nopadding" ng-model="character.path.rating"
                                       data-field="path.rating"/>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>Aura:</b></label>
                                <input type="number" class="col-md-6 nopadding" ng-model="character.aura"
                                       data-field="aura"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-md-6"><b>{{character.conscience.name}}:</b></label>
                                <input type="number" class="col-md-6 nopadding" ng-model="character.conscience.rating"
                                       data-field="conscience.rating"/>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>{{character.selfcontrol.name}}:</b></label>
                                <input type="number" class="col-md-6 nopadding" ng-model="character.selfcontrol.rating"
                                       data-field="selfcontrol.rating"/>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6"><b>{{character.courage.name}}:</b></label>
                                <input type="number" class="col-md-6 nopadding" ng-model="character.courage.rating"
                                       data-field="courage.rating"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id='pnlAttributes' class="panel panel-default">
        <div class="panel-heading clickable" data-toggle="collapse" data-target="#collapseAttributes">
            <h4 id="hdrAttributes" class="panel-title">
                Attributes
            </h4>
        </div>
        <div id="collapseAttributes" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotal(character.attributes.physical) }}
                                    Physical
                                    Traits
                                </li>
                                <li ng-repeat='t in character.attributes.physical | orderBy:"name":false'
                                    class="list-group-item trait">
                                    {{ t.name }}
									<span ng-show="t.val > 1">
										({{ t.val }})
									</span>
                                    <button ng-click="removeTrait(t.name, character.attributes.physical, 'physical')"
                                            class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-minus"></span></button>
                                    <button ng-click="addTrait(t.name, character.attributes.physical, 'physical')"
                                            class="btn btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </li>
                            </ul>
                            <div class="row voffset3">
                                <div class="col-md-9">
                                    <select id="slc-physical" class="form-control"
                                            ng-options="attr.name as attr.name + '    (' + attr.source + ')' group by attr.category for attr in physical"
                                            ng-model="sphysical">
                                        <option style="display:none" value="">Select a trait</option>
                                    </select>
                                </div>
                                <button ng-click="addTrait(sphysical, character.attributes.physical, 'physical')"
                                        class="btn btn-default btn-sm pull-right">Add
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotal(character.attributes.social) }} Social
                                    Traits
                                </li>
                                <li ng-repeat='t in character.attributes.social | orderBy:"name":false'
                                    class="list-group-item trait">
                                    {{ t.name }}
									<span ng-show="t.val > 1">
										({{ t.val }})
									</span>
                                    <button ng-click="removeTrait(t.name, character.attributes.social, 'social')"
                                            class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-minus"></span></button>
                                    <button ng-click="addTrait(t.name, character.attributes.social, 'social')"
                                            class="btn btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </li>
                            </ul>
                            <div class="row voffset3">
                                <div class="col-md-9">
                                    <select id="slc-social" class="form-control"
                                            ng-options="attr.name as attr.name + '    (' + attr.source + ')' group by attr.category for attr in social"
                                            ng-model="ssocial">
                                        <option style="display:none" value="">Select a trait</option>
                                    </select>
                                </div>
                                <button ng-click="addTrait(ssocial, character.attributes.social, 'social')"
                                        class="btn btn-default btn-sm pull-right">Add
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotal(character.attributes.mental) }} Mental
                                    Traits
                                </li>
                                <li ng-repeat='t in character.attributes.mental | orderBy:"name":false'
                                    class="list-group-item trait">
                                    {{ t.name }}
									<span ng-show="t.val > 1">
										({{ t.val }})
									</span>
                                    <button ng-click="removeTrait(t.name, character.attributes.mental, 'mental')"
                                            class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-minus"></span></button>
                                    <button ng-click="addTrait(t.name, character.attributes.mental, 'mental')"
                                            class="btn btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </li>
                            </ul>
                            <div class="row voffset3">
                                <div class="col-md-9">
                                    <select id="slc-mental" class="form-control"
                                            ng-options="attr.name as attr.name + '    (' + attr.source + ')' group by attr.category for attr in mental"
                                            ng-model="smental">
                                        <option style="display:none" value="">Select a trait</option>
                                    </select>
                                </div>
                                <button ng-click="addTrait(smental, character.attributes.mental, 'mental')"
                                        class="btn btn-default btn-sm pull-right">Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row voffset3">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotal(character.attributes.negativephysical) }}
                                    Negative Physical Traits
                                </li>
                                <li ng-repeat='t in character.attributes.negativephysical | orderBy:"name":false'
                                    class="list-group-item trait">
                                    {{ t.name }}
									<span ng-show="t.val > 1">
										({{ t.val }})
									</span>
                                    <button ng-click="removeTrait(t.name, character.attributes.negativephysical, 'negativephysical')"
                                            class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-minus"></span></button>
                                    <button ng-click="addTrait(t.name, character.attributes.negativephysical, 'negativephysical')"
                                            class="btn btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </li>
                            </ul>
                            <div class="row voffset3">
                                <div class="col-md-9">
                                    <select id="slc-negativephysical" class="form-control"
                                            ng-options="attr.name as attr.name + '    (' + attr.source + ')' group by attr.category for attr in negativephysical"
                                            ng-model="snegativephysical">
                                        <option style="display:none" value="">Select a trait</option>
                                    </select>
                                </div>
                                <button ng-click="addTrait(snegativephysical, character.attributes.negativephysical, 'negativephysical')"
                                        class="btn btn-default btn-sm pull-right">Add
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotal(character.attributes.negativesocial) }}
                                    Negative Social Traits
                                </li>
                                <li ng-repeat='t in character.attributes.negativesocial | orderBy:"name":false'
                                    class="list-group-item trait">
                                    {{ t.name }}
									<span ng-show="t.val > 1">
										({{ t.val }})
									</span>
                                    <button ng-click="removeTrait(t.name, character.attributes.negativesocial, 'negativesocial')"
                                            class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-minus"></span></button>
                                    <button ng-click="addTrait(t.name, character.attributes.negativesocial, 'negativesocial')"
                                            class="btn btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </li>
                            </ul>
                            <div class="row voffset3">
                                <div class="col-md-9">
                                    <select id="slc-negativesocial" class="form-control"
                                            ng-options="attr.name as attr.name + '    (' + attr.source + ')' group by attr.category for attr in negativesocial"
                                            ng-model="snegativesocial">
                                        <option style="display:none" value="">Select a trait</option>
                                    </select>
                                </div>
                                <button ng-click="addTrait(snegativesocial, character.attributes.negativesocial, 'negativesocial')"
                                        class="btn btn-default btn-sm pull-right">Add
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotal(character.attributes.negativemental) }}
                                    Negative Mental Traits
                                </li>
                                <li ng-repeat='t in character.attributes.negativemental | orderBy:"name":false'
                                    class="list-group-item trait">
                                    {{ t.name }}
									<span ng-show="t.val > 1">
										({{ t.val }})
									</span>
                                    <button ng-click="removeTrait(t.name, character.attributes.negativemental, 'negativemental')"
                                            class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-minus"></span></button>
                                    <button ng-click="addTrait(t.name, character.attributes.negativemental, 'negativemental')"
                                            class="btn btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </li>
                            </ul>
                            <div class="row voffset3">
                                <div class="col-md-9">
                                    <select id="slc-negativemental" class="form-control"
                                            ng-options="attr.name as attr.name + '    (' + attr.source + ')' group by attr.category for attr in negativemental"
                                            ng-model="snegativemental">
                                        <option style="display:none" value="">Select a trait</option>
                                    </select>
                                </div>
                                <button ng-click="addTrait(snegativemental, character.attributes.negativemental, 'negativemental')"
                                        class="btn btn-default btn-sm pull-right">Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id='pnlAdvantages' class="panel panel-default">
        <div class="panel-heading clickable" data-toggle="collapse" data-target="#collapseAdvantages">
            <h4 id="hdrAdvantages" class="panel-title">
                Advantages
            </h4>
        </div>
        <div id="collapseAdvantages" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotal(character.abilities) }} Abilities</li>
                                <li ng-repeat="a in character.abilities | orderBy:'name':false" class="list-group-item">
                                    {{ a.name + ": " + a.rating }}
                                    <span ng-show="a.note.length > 0">
                                    ( {{ a.note }} )
                                    </span>
                                    <button ng-click="removeAdvantage(a.name, a.note, character.abilities, 'abilities')"
                                            class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-minus"></span></button>
                                    <button ng-click="addAdvantage(a.name, a.note, character.abilities, 'abilities')"
                                            class="btn btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                    <button ng-click="addNoteDialog(a, character.abilities, 'abilities')"
                                            class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-pencil"></span></button>
                                </li>
                            </ul>
                            <div class="row voffset3">
                                <div class="col-md-9">
                                    <select id="slc-abilities" class="form-control"
                                            ng-options="adv.name as adv.name + '    ('+adv.source+')' for adv in abilities"
                                            ng-model="sability">
                                        <option style="display:none" value="">Select an ability</option>
                                    </select>
                                </div>
                                <button ng-click="addAdvantage(sability, '', character.abilities, 'abilities', 'abilities')"
                                        class="btn btn-default btn-sm pull-right">Add
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.disciplines.length }} Disciplines</li>
                                <li ng-repeat="d in character.disciplines | orderBy:['path', 'level', 'name']:false"
                                    class="list-group-item">
                                    {{ d.path + ": " + d.name + " (" + d.level + ")" }}
                                    <button ng-click="removeDiscipline(d)" class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-minus"></span></button>
                                </li>
                            </ul>
                            <div class="row voffset3">
                                <div class="col-md-10">
                                    <ui-select ng-model="sdiscipline.selected" theme="bootstrap" ng-disabled="disabled"
                                               >
                                        <ui-select-match placeholder="Select a discipline...">
                                            {{$select.selected.path}}:{{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="disc in disciplines | propsFilter: {name: $select.search, path: $select.search}">
                                            <div ng-bind-html="disc.name | highlight: $select.search"></div>
                                            <small>
                                                path: {{disc.path}} ({{disc.level}})
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <button ng-click="addDiscipline()" class="btn btn-default btn-sm pull-right">Add
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.rituals.length }} Rituals</li>
                                <li ng-repeat="r in character.rituals | orderBy:['path', 'level', 'name']:false"
                                    class="list-group-item">
                                    {{ r.path + ": " + r.name + " (" + r.level + ")" }}
                                    <button ng-click="removeRitual(r)" class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-minus"></span></button>
                                </li>
                            </ul>
                            <div class="row voffset3">
                                <div class="col-md-10">
                                    <ui-select ng-model="sritual.selected" theme="bootstrap" ng-disabled="disabled">
                                        <ui-select-match placeholder="Select a ritual...">
                                            {{$select.selected.path}}:{{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="rit in rituals | propsFilter: {name: $select.search, path: $select.search}">
                                            <div ng-bind-html="rit.name | highlight: $select.search"></div>
                                            <small>
                                                path: {{rit.path}} ({{rit.level}})
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <button ng-click="addRitual()" class="btn btn-default btn-sm pull-right">Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row voffset3">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotal(character.backgrounds) }} Backgrounds
                                </li>
                                <li ng-repeat="b in character.backgrounds" class="list-group-item trait">
                                    {{ b.name + ": " + b.rating }}
                                    <span ng-show="b.note.length > 0">
                                    ( {{ b.note }} )
                                    </span>
                                    <button ng-click="removeAdvantage(b.name, b.note, character.backgrounds, 'backgrounds')"
                                            class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-minus"></span></button>
                                    <button ng-click="addAdvantage(b.name, b.note , character.backgrounds,'backgrounds')"
                                            class="btn btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                    <button ng-click="addNoteDialog(b, character.backgrounds, 'backgrounds')"
                                            class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-pencil"></span></button>
                                </li>
                            </ul>
                            <div class="row voffset3">
                                <div class="col-md-9">
                                    <select id="slc-backgrounds" class="form-control"
                                            ng-options="adv.name as adv.name + '    ('+adv.source+')' for adv in backgrounds"
                                            ng-model="sbackground">
                                        <option style="display:none" value="">Select a background</option>
                                    </select>
                                </div>
                                <button ng-click="addAdvantage(sbackground, '', character.backgrounds, 'backgrounds', 'backgrounds')"
                                        class="btn btn-default btn-sm pull-right">Add
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotal(character.influences) }} Influences</li>
                                <li ng-repeat="i in character.influences" class="list-group-item trait">
                                    {{ i.name + ": " + i.rating }}
                                    <span ng-show="i.note.length > 0">
                                    ( {{ i.note }} )
                                    </span>
                                    <button ng-click="removeAdvantage(i.name, i.note, character.influences, 'influences')"
                                            class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-minus"></span></button>
                                    <button ng-click="addAdvantage(i.name, i.note, character.influences, 'influences')"
                                            class="btn btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                    <button ng-click="addNoteDialog(i, character.influences, 'influences')"
                                            class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-pencil"></span></button>
                                </li>
                            </ul>
                            <div class="row voffset3">
                                <div class="col-md-9">
                                    <select id="slc-influences" class="form-control"
                                            ng-options="adv.name as adv.name + '    ('+adv.source+')' for adv in influences"
                                            ng-model="sinfluence">
                                        <option style="display:none" value="">Select an influence</option>
                                    </select>
                                </div>
                                <button ng-click="addAdvantage(sinfluence, '', character.influences, 'influences', 'influences')"
                                        class="btn btn-default btn-sm pull-right">Add
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotal(character.misc) }} Miscelaneous Traits
                                </li>
                                <li ng-repeat="m in character.misc" class="list-group-item">
                                    {{ m.name + ": " + m.rating }}
                                    <span ng-show="m.note.length > 0">
                                    ( {{ m.note }} )
                                    </span>
                                    <button ng-click="removeAdvantage(m.name, m.note, character.misc, 'misc')"
                                            class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-minus"></span></button>
                                    <button ng-click="addAdvantage(m.name, m.note, character.misc, 'misc')"
                                            class="btn btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                    <button ng-click="addNoteDialog(m, character.misc, 'misc')"
                                            class="btn btn-xs pull-right">
                                        <span class="glyphicon glyphicon-pencil"></span></button>
                                </li>
                            </ul>
                            <div class="row voffset3">
                                <div class="col-md-9">
                                    <input type='text' id="slc-misc" class="form-control"
                                           placeholder="Misc character trait"
                                           ng-model="smisc"/>
                                </div>
                                <button ng-click="addAdvantage(smisc, '', character.misc, 'misc', 'misc')"
                                        class="btn btn-default btn-sm pull-right">Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row voffset3">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotal(character.status) }} Status</li>
                                <li ng-repeat="s in character.status" class="list-group-item">
                                    {{ s.name }} 
                                    <span ng-show="s.statustype.length > 0">
                                    ( {{ s.statustype }} )
                                    </span> 
                                    <span ng-show="s.rating > 1">
                                    x {{ s.rating }}
                                    </span>
                                    <button ng-click="removeStatus(s)" class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-minus"></span></button>
                                    <button ng-click="addStatus(s)" class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-plus"></span></button>
                                </li>
                            </ul>
                            <div class="row voffset3">
                                <div class="col-md-9">
                                    <input type='text' id="slc-status" class="col-md-6 form-control" placeholder="status"
                                           ng-model="sstatus"/>
                                    <select id="slc-statustype" ng-model="sstatustype" class="col-md-6 form-control">
                                        <option>fleeting</option>
                                        <option>abiding</option>
                                    </select>
                                </div>
                                <button ng-click="addStatus()" class="btn btn-default btn-sm pull-right">Add
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotalcost(character.merits) }} Merits</li>
                                <li ng-repeat="m in character.merits" class="list-group-item trait">
                                    {{ m.name + " (" + m.cost + ")" }}
                                    <button ng-click="removeMF(m, character.merits, 'merits')"
                                            class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-minus"></span></button>
                                </li>
                                <li>
                                </li>
                            </ul>
                            <div class="row voffset3">
                                <div class="col-md-9">
                                    <select id="slc-merits" class="form-control"
                                            ng-options="adv.name for adv in merits"
                                            ng-model="smerit">
                                        <option style="display:none" value="">Select a merit</option>
                                    </select>
                                </div>
                                <button ng-click="addMF(smerit, character.merits, 'merits', 'merits')"
                                        class="btn btn-default btn-sm pull-right">Add
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotalcost(character.flaws) }} Flaws</li>
                                <li ng-repeat="f in character.flaws" class="list-group-item">
                                    {{ f.name + " (" + f.cost + ")" }}
                                    <button ng-click="removeMF(f, character.flaws, 'flaws')"
                                            class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-minus"></span></button>
                                </li>
                            </ul>
                            <div class="row voffset3">
                                <div class="col-md-9">
                                    <select id="slc-flaws" class="form-control"
                                            ng-options="adv.name for adv in flaws"
                                            ng-model="sflaw">
                                        <option style="display:none" value="">Select a flaw</option>
                                    </select>
                                </div>
                                <button ng-click="addMF(sflaw, character.flaws, 'flaws', 'flaws')"
                                        class="btn btn-default btn-sm pull-right">Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row voffset3">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">Health Levels</li>
                                <li ng-repeat="(key,val) in character.healthlevels" class="list-group-item">
                                    {{ key + " (" + val + ")" }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotal(character.derangements) }}
                                    Derangements
                                </li>
                                <li ng-repeat="a in character.derangements | orderBy:'name':false"
                                    class="list-group-item">
                                    {{ a.name + ": " + a.rating }}
                                    <span ng-show="a.note.length > 0">
                                    ( {{ a.note }} )
                                    </span>
                                    <button ng-click="removeAdvantage(a.name, a.note, character.derangements, 'derangements')"
                                            class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-minus"></span></button>
                                    <button ng-click="addAdvantage(a.name, a.note, character.derangements, 'derangements')"
                                            class="btn btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                    <button ng-click="addNoteDialog(a, character.derangements, 'derangements')"
                                            class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-pencil"></span></button>
                                </li>
                            </ul>
                            <div class="row voffset3">
                                <div class="col-md-9">
                                    <select id="slc-abilities" class="form-control"
                                            ng-options="adv.name as adv.name + '    ('+adv.source+')' for adv in derangements"
                                            ng-model="sderangement">
                                        <option style="display:none" value="">Select a derangement</option>
                                    </select>
                                </div>
                                <button ng-click="addAdvantage(sderangement, '', character.derangements, 'derangements', 'derangements')"
                                        class="btn btn-default btn-sm pull-right">Add
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.bloodbonds.length }} Bloodbonds</li>
                                <li ng-repeat="e in character.bloodbonds" class="list-group-item">
                                    {{ e.character + " (lvl:" + e.level + ")" }}
                                    <span ng-show="e.note.length > 0">
                                    ( {{ e.note }} )
                                    </span>
                                    <button ng-click="removeBloodbond(e)" class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-minus"></span></button>
                                    <button ng-click="addBloodbond(e)" class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-plus"></span></button>
                                    <button ng-click="addNoteDialog(e, character.bloodbonds, 'bloodbonds')"
                                            class="btn btn-xs pull-right"><span
                                                class="glyphicon glyphicon-pencil"></span></button>
                                </li>
                            </ul>
                            <div class="row voffset3">
                                <div class="col-md-9">
                                    <input class="form-control" type="text" placeholder="Name of other character"
                                           ng-model="sbloodbond.character"/>
                                    <select id="slc-equipment" class="form-control"
                                            ng-options="adv for adv in bloodbondlevels"
                                            ng-model="sbloodbond.level">
                                        <option style="display:none" value="">Select level</option>
                                    </select>
                                    <input class="col-xs-12" type="text" placeholder="Note..."
                                           ng-model="sbloodbond.note"/>
                                </div>
                                <button ng-click="addBloodbond()" class="btn btn-default btn-sm pull-right">Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <ul class="list-group">
                            <li class="list-group-item active">{{ character.equipment.length }} Equipment</li>
                            <li ng-repeat="e in character.equipment" class="list-group-item">
                                {{ e.name + ": " + e.rating }}
                                    <span ng-show="e.note.length > 0">
                                    ( {{ e.note }} )
                                    </span>
                                <button ng-click="removeAdvantage(e.name, e.note, character.equipment, 'equipment')"
                                        class="btn btn-xs pull-right"><span
                                            class="glyphicon glyphicon-minus"></span></button>
                                <button ng-click="addAdvantage(e.name, e.note, character.equipment, 'equipment')"
                                        class="btn btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <button ng-click="addNoteDialog(e, character.equipment, 'equipment)"
                                        class="btn btn-xs pull-right"><span
                                            class="glyphicon glyphicon-pencil"></span></button>
                            </li>
                        </ul>
                        <div class="row voffset3">
                            <div class="col-md-9">
                                <select id="slc-equipment" class="form-control"
                                        ng-options="adv for adv in equipment"
                                        ng-model="sequipment">
                                    <option style="display:none" value="">Select equipment</option>
                                </select>
                            </div>
                            <button ng-click="addAdvantage(sequipment, '', character.equipment, 'equiptment', 'equipment')"
                                    class="btn btn-default btn-sm pull-right">Add
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id='pnlExperience' class="panel panel-default hidden-print">
        <div class="panel-heading clickable" data-toggle="collapse" data-target="#collapseExperience">
            <h4 id="hdrExperience" class="panel-title">
                Experience History
            </h4>
        </div>
        <div id="collapseExperience" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-group">
                            <li ng-repeat="item in character.experiencehistory" class="list-group-item">
                                <span ng-bind="item.date | date:'MM/yyyy'"></span>: {{item.change}} Experience, {{item.reason}}
                                <button ng-click="removexp(item)"
                                        class="btn btn-xs pull-right"><span
                                            class="glyphicon glyphicon-minus"></span></button>
                            </li>
                            <li class="list-group-item">
                                Change: <input ng-model="sxp" type="number" />
                                Reason: <input ng-model="sxpdescription" type="text" />
                                <button class="btn btn-default" ng-click="addxp(sxp, sxpdescription)">add</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading clickable" data-toggle="collapse" data-target="#collapseEditHistory">
            <h4 class="panel-title">
                Modification History
            </h4>
        </div>

        <div id="collapseEditHistory" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2 default"></div>
                    <div class="col-md-2 default"></div>
                    <div class="col-md-1 default"><b>Date</b></div>
                    <div class="col-md-2 default"><b>User</b></div>
                    <div class="col-md-7 default"><b>Changed fields / new values</b></div>
                </div>
                <div class="row" ng-class-odd="'warning'" ng-class-even="''"
                     ng-repeat="item in character.modificationhistory">
                    <div class="col-md-2">
                        <button class="btn btn-xs btn-info"
                                ng-click="showOld(item.date)">Show old version
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-xs btn-danger" ng-confirm-click="Are you sure?"
                                ng-click="revert(item.date)">Revert to this version
                        </button>
                    </div>
                    <div class="col-md-1">{{item.date | date:"dd/MM/yyyy"}}</div>
                    <div class="col-md-2">{{item.user.name}}</div>
                    <div class="col-md-5">{{item.fields}}</div>
                </div>
            </div>
        </div>
    </div>

    <div id="advNoteModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit note for {{noteItem.name}} ({{noteItem.rating}})</h4>
                </div>
                <div class="modal-body">
                    Note: <input type="text" ng-model="noteItem.note"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="revertNoteItem()" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="saveNoteItem()" data-dismiss="modal">Ok
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
