<%- layout("../layout.ejs") %>
<%- partial('./scripts') %>
<script type="text/javascript" src="/js/controllers/cymeriad.controller.character.harpies.js"></script>
<div class="container" ng-app="cymeriad.app.character" ng-controller="cymeriad.controller.character.harpies" ng-init="init()">
    <toast></toast>
    <script type="text/ng-template" id="statusModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Add status</h3>
        </div>
        <div class="modal-body">
            <div class="col-lg-12">
                Character: {{char.name}}
            </div>
            <div class="form-group">
                <label>Type: </label>
                <select class="input-sm" ng-model="status.statustype">
                    <option value="fleeting">fleeting</option>
                    <option value="abiding">abiding</option>
                </select>
            </div>
            <div class="form-group">
                <label>Status: </label>
                <input type="text" ng-model="status.name"/>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="titleModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Update title</h3>
        </div>
        <div class="modal-body">
            <div class="col-lg-12">
                Character: {{char.name}}
            </div>
            <div class="form-group">
                <label>Title: </label>
                <input type="text" ng-model="char.title"/>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="boonModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Add boon</h3>
        </div>
        <div class="modal-body">
            <div class="col-lg-12">
                Character: {{char.name}}
            </div>
            <div class="form-group">
                <label>Level: </label>
                <select class="input-sm" ng-model="boon.level">
                    <option value="trivial">trivial</option>
                    <option value="minor">minor</option>
                    <option value="major">major</option>
                    <option value="blood">blood</option>
                    <option value="life">life</option>
                </select>
            </div>
            <div class="form-group">
                <label>Character owed: </label>
                <input type="text" ng-model="boon.character" placeholder="Character name" typeahead="char.name as char.name for char in chronicle.characters | filter:{name:$viewValue}"
                       typeahead-min-length="1" ng-required="true" typeahead-editable="true"
                       typeahead-loading="loadingCharacters" typeahead-no-results="noResults" class="form-control">
            </div>
            <div class="form-group">
                <label>Note: </label>
                <input type="text" ng-model="boon.note"/>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <div class="col-lg-12">
        <tabset>
            <tab ng-repeat="c in chronicles" heading="{{c.name}}" select="loadContent(c.id)" active="c.active" disabled="c.disabled">
                <div class="col-md-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="pull-left">Harpy Administration</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <h4>Positions</h4>
                                                <button class="btn badge btn-default pull-right" ng-click="toggleStatus()" ng-hide="statusHidden">hide</button>
                                                <button class="btn badge btn-default pull-right" ng-click="toggleStatus()" ng-show="statusHidden">show</button>
                                            </div>
                                        </div>
                                        <div class="panel-body" ng-hide="statusHidden">
                                            <table class="table table-striped table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Title</th>
                                                    <th>Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="char in c.characters | orderBy: 'title'" ng-if="char.title !== ''">
                                                    <td class="col-xs-8">{{char.name}}</td>
                                                    <td class="col-xs-3">{{char.title}}</td>
                                                    <td class="col-xs-3">{{char.status.length}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row hidden-print">
                                    <div class="col-lg-12">
                                        <div class="form-group pull-right">
                                            <input type="text" class="input-md" ng-model="search" placeholder="filter..."/>
                                            <button type="button" class="btn btn-primary" ng-model="editable" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                                                Edit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12" ng-repeat-start="char in c.characters | filter: search">
                                    <div class="col-sm-12"><b>{{char.name}}</b>
                                        <i>{{char.title}}</i>
                                    </div>
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-12">
                                        <div class="btn-group" ng-show="editable"  role="group" aria-label="Basic example">
                                            <button class="btn btn-default hidden-print" ng-click="addBoon(char)">boon+</button>
                                            <button class="btn btn-default hidden-print" ng-click="addStatus(char)">status+</button>
                                            <button class="btn btn-default hidden-print" ng-click="updateTitle(char)">title</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <table class="table table-striped table-bordered" ng-show="char.status.length">
                                                <tr><th colspan="4">Status</th></tr>
                                                <tr ng-repeat="s in char.status">
                                                    <td class="col-xs-6">{{s.name}}</td>
                                                    <td class="col-xs-3">{{s.statustype}}</td>
                                                    <td class="col-xs-1">{{s.rating}}</td>
                                                    <td class="col-xs-2 hidden-print" ng-show="editable">
                                                        <button class="btn btn-default badge" ng-click="removeStatus(char, s)">-</button>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table class="table table-striped table-bordered" ng-show="char.boons.length">
                                                <tr>
                                                    <th>Boon</th>
                                                    <th>Character</th>
                                                    <th>Note</th>
                                                    <th class="hidden-print" ng-show="editable"></th>
                                                </tr>
                                                <tr ng-repeat="s in char.boons">
                                                    <td class="col-xs-6">{{s.level}}</td>
                                                    <td class="col-xs-3">{{s.character}}</td>
                                                    <td class="col-xs-1">{{s.note}}</td>
                                                    <td class="col-xs-2 hidden-print" ng-show="editable">
                                                        <button class="btn btn-default badge" ng-click="removeBoon(char, s)">-</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="voffset4" ng-if="$index%3==2"></div>
                                <div class="clearfix pbafter" ng-if="$index%3==2"></div>
                                <div ng-repeat-end=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>
