<% layout("../layout.ejs") %>
<script type='text/javascript' charset="utf-8" src="/js/jquery.fileupload.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/modules/cymeriad.confirmClick.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/modules/cymeriad.readMore.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/modules/cymeriad.JSON.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/modules/cymeriad.services.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/modules/cymeriad.propertyFilter.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/applications/cymeriad.app.character.js"></script>
<script type='text/javascript' charset="utf-8" src="/js/controllers/cymeriad.controller.character.index.js"></script>
<script type="text/javascript" charset="utf-8">

    var configureUpload = function () {
        var uploadButton = $('<button/>')
                .addClass('btn btn-primary')
                .prop('disabled', true)
                .text('Processing...')
                .on('click', function () {
                    var $this = $(this),
                            data = $this.data();
                    $this
                            .off('click')
                            .text('Abort')
                            .on('click', function () {
                                $this.remove();
                                data.abort();
                            });
                    data.submit().always(function () {
                        $this.remove();
                    });
                });
        $('#fileupload').fileupload({
            dataType: 'json',
            autoUpload: true,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            // Enable image resizing, except for Android and Opera,
            // which actually support image resizing, but fail to
            // send Blob objects via XHR requests:
            disableImageResize: /Android(?!.*Chrome)|Opera/
                    .test(window.navigator.userAgent),
            previewMaxWidth: 100,
            previewMaxHeight: 100,
            previewCrop: true
        }).on('fileuploadadd', function (e, data) {
            data.url = "../character/import/" + $('#slcChronicle').val();
            data.context = $('<div/>').appendTo('#files');
            $.each(data.files, function (index, file) {
                var node = $('<p/>')
                        .append($('<span/>').text(file.name));
                if (!index) {
                    node
                            .append('<br>')
                            .append(uploadButton.clone(true).data(data));
                }
                node.appendTo(data.context);
            });
        }).on('fileuploadprocessalways', function (e, data) {
            var index = data.index,
                    file = data.files[index],
                    node = $(data.context.children()[index]);
            if (file.preview) {
                node
                        .prepend('<br>')
                        .prepend(file.preview);
            }
            if (file.error) {
                node
                        .append('<br>')
                        .append($('<span class="text-danger"/>').text(file.error));
            }
            if (index + 1 === data.files.length) {
                data.context.find('button')
                        .text('Upload')
                        .prop('disabled', !!data.files.error);
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
            );
        }).on('fileuploaddone', function (e, data) {
            $(data.context.children()).remove();
            angular.element('#content').scope().init();
        }).on('fileuploadfail', function (e, data) {
            $.each(data.files, function (index) {
                var error = $('<span class="text-danger"/>').text('File upload failed.');
                $(data.context.children()[index])
                        .append('<br>')
                        .append(error);
            });
        }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
    };

    var chroniclesLoaded = function (data) {
        $('#slcChronicle').empty();

        for (var i = 0; i < data.length; i++) {
            var item = data[i];
            $('<option value="' + item.id + '" >' + item.name + '</option>').appendTo($('#slcChronicle'));
        }

    };

    $(document).ready(function () {
        $.get('../chronicle/list').done(chroniclesLoaded);
        configureUpload();
    });

</script>
<div id="content" class="container" ng-app="cymeriad.app.character" ng-controller="cymeriad.controller.character.index" ng-init="init()">
    <h1 class="page-header hidden-xs hidden-sm">Characters</h1>

    <div class="row">
        <div class="col-md-12">
            <div class="col-lg-2 col-md-2 col-xs-6">
                <div class="btn-group" role="group">
                    <button class="btn btn-default" ng-confirm-click="are you sure?" ng-click="DeleteSelected()"><span
                                class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                    <button class="btn btn-default" ng-click="CreateNew()"><span class="glyphicon glyphicon-pencil"></span>
                        New
                    </button>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <select class="form-control"
                        ng-change="search()"
                        ng-options="c as c.name for c in chronicles"
                        ng-model="selectedchronicle">
                </select>
            </div>
            <div class="col-md-2 col-xs-6">
                <select class="form-control"
                        ng-change="search()"
                        ng-options="c for c in statusses"
                        ng-model="selectedstatus">
                </select>
            </div>
            <div class="col-md-4 col-xs-12">
                <input class="form-control" type="text" ng-model="query" ng-change="search()" placeholder="Search..."/>
            </div>
            <div class="col-md-2 hidden-xs">
                <div class="col-md-4">
                    <label>Items:</label>

                </div>
                <div class="col-md-8">
                    <select class="form-control"
                            ng-change="search()"
                            ng-options="c for c in [10, 25, 50, 100]"
                            ng-model="itemsPerPage">
                    </select>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 voffset3">
            <table class="table table-striped table-condensed table-hover">
                <thead>
                <tr>
                    <th width="10px"><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>
                    <th class="name" custom-sort order="'name'" sort="sort">Name&nbsp;</th>
                    <th class="player" custom-sort order="'player'">Player&nbsp;</th>
                </tr>
                </thead>
                <tfoot>
                <td colspan="2">
                    <nav class="col-md-6">
                        <ul class="pagination">
                            <li ng-class="{disabled: currentPage == 0}">
                                <a href ng-click="prevPage()" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                                ng-class="{active: n == currentPage}"
                                ng-click="setPage()">
                                <a href ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                                <a href ng-click="nextPage()">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </td>
                </tfoot>
                <tbody>
                <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sort.sortingOrder:sort.reverse">
                    <td><input type="checkbox" ng-model="selected[item.id]"></td>
                    <td class="clickable" ng-click="openItem(item.id)">{{item.name}}</td>
                    <td class="clickable" ng-click="openItem(item.id)">{{item.googleId | findPlayer : selectedchronicle.playerDocs}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id='pnlUpload' class="panel panel-default hidden-xs hidden-sm">
        <div class="panel-heading clickable" data-toggle="collapse" data-target="#collapseUpload">
            <h4 id="hdrUpload" class="panel-title">
                Upload new
            </h4>
        </div>
        <div id="collapseUpload" class="panel-collapse collapse">
            <div class="panel-body">
                <div class='row'>
                    <div class="col-md-3">
                        <fieldset class="form-inline">
                            <div class="form-group">
                                <label for="exampleInputName2">Chronicle: </label>
                                <select id="slcChronicle">
                                </select>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-9">
                        <span class="btn btn-default fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Add files...</span>
                            <!-- The file input field used as target for the file upload widget -->
                            <input id="fileupload" type="file" name="files[]" multiple>
                        </span>
                    </div>
                </div>
                <div class="row voffset1">
                    <div class="col-md-12">
                        <div id="progress" class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <div id="files" class="files"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default hidden-xs hidden-sm">
        <div class="panel-heading clickable" data-toggle="collapse" data-target="#collapseExport">
            <h4 class="panel-title">
                Export
            </h4>
        </div>
        <div id="collapseExport" class="panel-collapse collapse">
            <div class="panel-body">
                <div class='row'>
                    <div class="col-md-4">
                        <fieldset class="form-inline">
                            <div class="form-group">
                                <label for="exampleInputName2">Chronicle: </label>

                                <select
                                        ng-change="search()"
                                        ng-options="c as c.name for c in chronicles"
                                        ng-model="selectedexportchronicle">
                                </select>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="form-inline">
                            <div class="form-group">
                                <label for="exampleInputName2">Type: </label>

                                <select
                                        ng-change="search()"
                                        ng-options="c.name for c in exporttypes"
                                        ng-model="exporttype">
                                </select>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <a ng-hide="exportvisible()" class="btn btn-default" ng-href='/character/export/{{selectedexportchronicle.id}}/{{exporttype.ext}}'><span class="glyphicon glyphicon-export"></span>Export
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>