<% layout("../layout.ejs") %>
<%- partial('./scripts') %>
<script type="text/javascript" src="/js/controllers/cymeriad.controller.character.showbychronicle.js"></script>
<div id="content" class="container" ng-app="cymeriad.app.character" ng-controller="cymeriad.controller.character.showbychronicle" ng-init="init('<%= chronicleid %>')">

    <h1 class="page-header">
        <div class='btn-toolbar pull-right hidden-print'>
            <div class='btn-group'>
                <button id="btnPrint" onclick="window.print();" type='button' class='btn btn-info'><span class="glyphicon glyphicon-print"></span>
                    Print
                </button>
            </div>
        </div>
    </h1>

    <h1 ng-repeat-start="character in characters" class="page-header">{{ character.name }}
    </h1>

    <div id='pnlAbout' class="panel panel-default">

        <div id="collapseAbout" class="panel-collapse ">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div><b>Player:</b> {{ character.player.displayName }} <input type='hidden' id='playerid'
                                                                                           value='{{ character.player.googleId }}'/>
                            </div>
                            <div><b>Chronicle:</b> {{ character.chronicle.name }}</div>
                            <div><b>Status:</b> {{ character.state }}</div>
                        </div>
                        <div class="col-md-4">
                            <div><b>Experience
                                    Unspent:</b> {{ character.experience.unspent }}</div>
                            <div><b>Total experience earned:</b> {{ character.experience.total }}</div>
                        </div>
                        <div class="col-md-4">
                            <div><b>Created on:</b>
                                <span>{{character.created | date:"dd/MM/yyyy"}}</span>
                            </div>
                            <div><b>Last modified on:</b>
                                <span>{{character.modified | date:"dd/MM/yyyy"}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 voffset3">
                        <div class="col-md-4">
                            <div><b>Clan:</b> {{ character.clan }}</div>
                            <div><b>Sect:</b> {{ character.sect }}</div>
                            <div><b>Coterie:</b> {{ character.coterie }}</div>
                        </div>
                        <div class="col-md-4">
                            <div><b>Generation:</b> {{ character.generation }}</div>
                            <div><b>Title:</b> {{ character.title }}</div>
                            <div><b>Sire:</b> {{ character.sire }}</div>
                        </div>
                        <div class="col-md-4">
                            <div><b>Nature:</b> {{ character.nature }}</div>
                            <div><b>Demeanor:</b> {{ character.demeanor }}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 voffset3">
                        <div class="col-md-4">
                            <div><b>Blood (max):</b> {{ character.bloodpool.current }} ({{ character.bloodpool.max }})
                            </div>
                            <div><b>Willpower (total):</b> {{ character.willpower.current }}
                                ({{ character.willpower.max }})
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div><b>Morality Path:</b> {{ character.path.name }}</div>
                            <div><b>Morality Traits:</b> {{ character.path.rating }}</div>
                            <div><b>Aura:</b> {{ character.aura }}</div>
                        </div>
                        <div class="col-md-4">
                            <div><b>{{ character.conscience.name }}:</b> {{ character.conscience.rating }}</div>
                            <div><b>{{ character.selfcontrol.name }}:</b> {{ character.selfcontrol.rating }}</div>
                            <div><b>{{ character.courage.name }}:</b> {{ character.courage.rating }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id='pnlAttributes' class="panel panel-default">
        <div class="panel-heading clickable"  data-target="#collapseAttributes">
            <h4 id="hdrAttributes" class="panel-title">
                Attributes
            </h4>
        </div>
        <div id="collapseAttributes" class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotal(character.attributes.physical) }} Physical
                                    Traits
                                </li>
                                <li ng-repeat="attr in character.attributes.physical" class="list-group-item trait clearfix">
                                    {{ attr.name }}
                                    <span ng-show="attr.val > 1">({{ attr.val }})</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotal(character.attributes.social) }} Social
                                    Traits
                                </li>
                                <li ng-repeat="attr in character.attributes.social" class="list-group-item trait clearfix">
                                    {{ attr.name }}
                                    <span ng-show="attr.val > 1">({{ attr.val }})</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotal(character.attributes.mental) }} Mental
                                    Traits
                                </li>
                                <li ng-repeat="attr in character.attributes.mental" class="list-group-item trait clearfix">
                                    {{ attr.name }}
                                    <span ng-show="attr.val > 1">({{ attr.val }})</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotal(character.attributes.negativephysical) }}
                                    Negative Physical Traits
                                </li>
                                <li ng-repeat="attr in character.attributes.negativephysical" class="list-group-item trait clearfix">
                                    {{ attr.name }}
                                    <span ng-show="attr.val > 1">({{ attr.val }})</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotal(character.attributes.negativesocial) }}
                                    Negative Social Traits
                                </li>
                                <li ng-repeat="attr in character.attributes.negativesocial" class="list-group-item trait clearfix">
                                    {{ attr.name }}
                                    <span ng-show="attr.val > 1">({{ attr.val }})</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotal(character.attributes.negativemental) }}
                                    Negative Mental Traits
                                </li>
                                <li ng-repeat="attr in character.attributes.negativemental" class="list-group-item trait clearfix">
                                    {{ attr.name }}
                                    <span ng-show="attr.val > 1">({{ attr.val }})</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id='pnlAdvantages' class="panel panel-default">
        <div class="panel-heading clickable"  data-target="#collapseAdvantages">
            <h4 id="hdrAdvantages" class="panel-title">
                Advantages
            </h4>
        </div>
        <div id="collapseAdvantages" class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotal(character.abilities) }} Abilities</li>
                                <li ng-repeat="abl in character.abilities" class="list-group-item clearfix">
                                    {{ abl.name }}: {{abl.rating}}
                                    <span ng-show="abl.note.length > 1">({{ abl.note }})</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.disciplines.length }} Disciplines</li>
                                <li ng-repeat="abl in character.disciplines" class="list-group-item clearfix">
                                    {{ abl.path }} {{abl.name}} ({{abl.level}})
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.rituals.length }} Rituals</li>
                                <li ng-repeat="abl in character.rituals" class="list-group-item clearfix">
                                    {{ abl.path }} {{abl.name}} ({{abl.level}})
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotal(character.backgrounds) }} Backgrounds</li>
                                <li ng-repeat="abl in character.backgrounds" class="list-group-item clearfix">
                                    {{ abl.name }}: {{abl.rating}}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotal(character.influences) }} Influences</li>
                                <li ng-repeat="abl in character.influences" class="list-group-item clearfix">
                                    {{ abl.name }}: {{abl.rating}}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.misc.length }} Miscelaneous Traits</li>
                                <li ng-repeat="abl in character.misc" class="list-group-item clearfix">
                                    {{ abl.name }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotal(character.status) }} Status</li>
                                <li ng-repeat="abl in character.status" class="list-group-item clearfix">
                                    {{ abl.name }}
                                    <span ng-show="abl.rating > 1">{{abl.rating}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotalcost(character.merits) }} Merits</li>
                                <li ng-repeat="abl in character.merits" class="list-group-item clearfix">
                                    {{ abl.name }}
                                    <span ng-show="abl.rating > 1">{{abl.cost}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ calctotalcost(character.flaws) }} Flaws</li>
                                <li ng-repeat="abl in character.flaws" class="list-group-item clearfix">
                                    {{ abl.name }}
                                    <span ng-show="abl.rating > 1">{{abl.cost}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">Health Levels</li>
                                <li ng-repeat="(key,val) in character.healthlevels" class="list-group-item">
                                    {{ key + " (" + val + ")" }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.derangements.length }} Derangements</li>
                                <li ng-repeat="abl in character.derangements" class="list-group-item clearfix">
                                    {{ abl.name }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.bloodbonds.length }} Blood Bonds</li>
                                <li ng-repeat="e in character.bloodbonds" class="list-group-item">
                                    {{ e.character + " (lvl:" + e.level + ")" }}
                                    <span ng-show="e.note.length > 0">
                                    ( {{ e.note }} )
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <ul class="list-group">
                                <li class="list-group-item active">{{ character.equipment.length }} Equipment</li>
                                <li ng-repeat="e in character.equipment" class="list-group-item">
                                    {{ e.name + ": " + e.rating }}
                                    <span ng-show="e.note.length > 0">
                                    ( {{ e.note }} )
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-repeat-end class="pagebreak"></div>
</div>