<%- layout("../layout.ejs") %>
<%- partial('./scripts') %>
<script type="text/javascript" src="/js/controllers/cymeriad.controller.character.status.js"></script>
<div class="container" ng-app="cymeriad.app.character" ng-controller="cymeriad.controller.character.status" ng-init="init()">
    <toast></toast>
    <script type="text/ng-template" id="statusModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Add status</h3>
        </div>
        <div class="modal-body">
            <div class="col-lg-12">
                Character: {{char.name}}
            </div>
            <div class="form-group">
                <label>Type: </label>
                <select class="input-sm" ng-model="status.statustype">
                    <option value="fleeting">fleeting</option>
                    <option value="abiding">abiding</option>
                </select>
            </div>
            <div class="form-group">
                <label>Status: </label>
                <input type="text" ng-model="status.name"/>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="titleModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Update title</h3>
        </div>
        <div class="modal-body">
            <div class="col-lg-12">
                Character: {{char.name}}
            </div>
            <div class="form-group">
                <label>Title: </label>
                <input type="text" ng-model="char.title"/>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <div ng-repeat="c in chronicles">
        <div class="row">
            <div class="col-md-12 hidden-print">
                <h3 class="bg-primary clickable text-center text-capitalize" ng-click="isCollapsed = !isCollapsed">{{c.name}}</h3>
            </div>
            <div class="row" collapse="isCollapsed">
                <div class="col-md-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Positions</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Title</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="char in c.characters | orderBy: 'title'" ng-if="char.title !== ''">
                                    <td class="col-xs-8">{{char.name}}</td>
                                    <td class="col-xs-3">{{char.title}}</td>
                                    <td class="col-xs-3">{{char.status.length}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Status list</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row hidden-print">
                                <div class="col-lg-12">
                                    <div class="form-group pull-right">
                                        <input type="text" class="input-md" ng-model="search" placeholder="filter..."/>
                                        <button type="button" class="btn btn-primary" ng-model="editable" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                                            Edit
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-12" ng-repeat-start="char in c.characters | filter: search">
                                    <div class="col-sm-12"><b>{{char.name}}</b>: {{char.status.length}}
                                        <button ng-show="editable" class="btn badge btn-default hidden-print pull-right" ng-click="addStatus(char)">status+</button>
                                        <button ng-show="editable" class="btn badge btn-default hidden-print pull-right" ng-click="updateTitle(char)">title</button>
                                    </div>
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        <table class="table table-striped table-bordered" ng-show="char.status.length">
                                            <tr ng-repeat="s in char.status">
                                                <td class="col-xs-6">{{s.name}}</td>
                                                <td class="col-xs-3">{{s.statustype}}</td>
                                                <td class="col-xs-1">{{s.rating}}</td>
                                                <td class="col-xs-2 hidden-print" ng-show="editable">
                                                    <button class="btn btn-default badge" ng-click="removeStatus(char, s)">-</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="clearfix pbafter" ng-if="$index%3==2"></div>
                                <div ng-repeat-end=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>