<% layout("../layout.ejs") %>
<script type="text/javascript" src="/js/controllers/characterwizardController.js"></script>
<div class="container">
    <h1 class="page-header hidden-xs hidden-sm">Submit background</h1>
</div>