<% layout("../layout.ejs") %>
<%- partial('./scripts') %>
<script type='text/javascript' charset="utf-8" src="/js/controllers/cymeriad.controller.downtime.index.js"></script>
<div id="content" class="container" ng-app="cymeriad.app.downtime" ng-controller="cymeriad.controller.downtime.index" ng-init="init(<%= user.isAdmin %>)">
    <div class="col-lg-6 col-md-12" ng-show="<%= user.isAdmin %>">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Admin</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li ng-repeat="dt in downtimeperiods | orderBy : 'openFrom'" class="list-group-item">
                        {{findChronicleName(dt.chronicleId)}}: {{dt.openFrom | date : 'dd-MM-yyyy'}} - {{dt.openTo | date : 'dd-MM-yyyy'}}
                        <a class="btn btn-sm btn-primary pull-right" ng-href="{{'/downtime/visualise/' + dt.id}}"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a class="btn btn-sm btn-primary pull-right" ng-href="{{'/downtime/handle/' + dt.id}}"><span class="glyphicon glyphicon-cog"></span></a>
                        <a class="btn btn-sm btn-warning pull-right" ng-href="{{'/downtime/modify/' + dt.id}}"><span class="glyphicon glyphicon-comment"></span></a>
                        <a class="btn btn-sm btn-default pull-right" ng-href="{{'/downtime/edit/' + dt.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <button class="btn btn-sm btn-default pull-right" ng-confirm-click="Are you sure?" ng-click="delete(dt.id)"><span class="glyphicon glyphicon-trash"></span></button>
                    </li>
                </ul>
                <a class="btn btn-primary" href="/downtime/new">Add new period</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Open periods</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li ng-repeat="dt in openperiods | orderBy : 'openFrom'" class="list-group-item">
                        {{findChronicleName(dt.chronicleId)}}: {{dt.openFrom | date : 'dd-MM-yyyy'}} - {{dt.openTo | date : 'dd-MM-yyyy'}}
                        <a class="btn btn-sm btn-default pull-right" ng-href="{{'/downtime/submit/' + dt.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Submitted periods</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li ng-repeat="dt in submittedperiods | orderBy : 'period.openFrom'" class="list-group-item">
                        <b>{{findChronicleName(dt.period.chronicleId)}}</b>, {{dt.character.name}}: {{dt.period.openFrom | date : 'dd-MM-yyyy'}} - {{dt.period.openTo | date : 'dd-MM-yyyy'}}
                        <a class="btn btn-sm btn-default pull-right" ng-href="{{'/downtime/review/' + dt.id}}"><span class="glyphicon glyphicon-search"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
