<header class="navbar navbar-inverse navbar-fixed-top hidden-print" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".tr-navbar-collapse">
                <span class="glyphicon glyphicon-align-justify"></span>
                <span class="sr-only">Menu</span>
                <span class="fa fa-bar"></span>
                <span class="fa fa-bar"></span>
                <span class="fa fa-bar"></span>
            </button>
            <div id="logo"></div>
            <a href="/" class="navbar-brand">Cymeriad</a>
        </div>
        <nav class="collapse navbar-collapse tr-navbar-collapse" role="navigation">
            <% if(user) { %>
            <ul class="nav navbar-nav">
                <li><a href="/downtime">Downtimes</a></li>
                <% if(user.isSuperAdmin) { %>
                <li><a href="/user">Users</a></li>
                <%} if(user.isAdmin === true){%>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/chronicle">Chronicles</a></li>
                        <li><a href="/character">Characters</a></li>
                        <li><a href="/event">Events</a></li>
                        <li><a href="/character/harpyreport">Harpy Report</a></li>
                        <li><a href="/character/influences">Influences</a></li>
                        <li><a href="/character/status">Status</a></li>
                        <li><a href="/character/socialbonds">Social bonds</a></li>
                        <li><a href="/character/harpies">Harpy Player Page</a></li>
                    </ul>
                </li>
                <% }%>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
            <p class="navbar-text pull-right">
                Logged in as <a href="/user/profile" class="navbar-link"><%= user.displayName %></a>
            </p>
            <% } %>
        </nav>
    </div>
</header>