<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="TrinteJS! - Javascript MVC Framework">
    <meta name="author" content="Joey Daemen">
    <meta name="description" content="Mind&#39;s Eye Theatre Chronicle manager">
    <meta name="keywords" content="cymeriad">
    <title>cymeriad</title>
    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link type="text/css" href="/css/bootstrap-slate.min.css" rel="stylesheet"/>
    <link type="text/css" href="/css/font-awesome.min.css" rel="stylesheet"/>
    <link type="text/css" href="/css/style.css" rel="stylesheet"/>

    <script type="text/javascript" charset="utf-8" src="/js/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/bootstrap.min.js"></script>
    <meta name="x-csrf-param" content="_csrf">
</head>
<body>
<!-- header --><a href="https://github.com/xiinite/cymeriad" target="_blank"><img
            style="position: absolute; top: 0; right: 0; border: 0; z-index: 3000;"
            src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67"
            alt="Fork me on GitHub"
            data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
<!-- messages -->
<!-- content -->
<div class="container">
    <div class='messages row'>
        <div class='col-md-12'>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-lg-6 col-sm-8 col-md-6">
            <div class="panel panel-body">
                <div class="col-xs-12 col-lg-6 col-sm-6">
                    <h2><img class="img-circle" src="img/Masks.png" /> Cymeriad</h2>
                </div>
                <div class="col-xs-12 col-lg-6 col-sm-6" style="text-align:center">
                    <a class="btn btn-md btn-block btn-primary" href='/auth/google/'><i class="fa fa-google"></i>&nbsp;&nbsp;&nbsp;&nbsp;Sign in
                        with google</a>
                    <a class="btn btn-md btn-block btn-primary" href='/auth/facebook/'><i class="fa fa-facebook-official"></i>&nbsp;&nbsp;&nbsp;&nbsp;Sign in
                        with facebook</a>
                    <a class="btn btn-md btn-block btn-primary" href='/auth/nachtkronieken/'><i class="fa fa-drupal"></i>&nbsp;&nbsp;&nbsp;&nbsp;Sign in
                        with Nachtkronieken</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 150px">
    <footer id="footer">
        <p style="text-align: center;font-size: 10px;color: #ccc">
            Created by Joey Daemen
        </p>
    </footer>
</div>

<!-- footer -->
<%- partial('./_footer') %>
</body>
</html>