<%- layout("../layout.ejs") %>
<%- partial('./scripts') %>
<script type="text/javascript" src="/js/controllers/cymeriad.controller.chronicle.editmap.js"></script>
<div id="content" class="container-fluid" ng-app="cymeriad.app.chronicle" ng-controller="cymeriad.controller.chronicle.editmap" data-ng-init="init('<%= chronicleid %>', '<%= mapid %>')">
    <script type="text/ng-template" id="searchbox.tpl.html">
        <input type="text" placeholder="Lookup location">
    </script>
    <h1>Edit Map</h1>
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-primary" ng-click="save()">Save</button>
        </div>
    </div>
    <div class="row voffset1">
        <div class="col-lg-9">
            <ui-gmap-google-map control="gmap" center='map.center' events="mapevents" zoom='map.zoom' bounds="map.bounds">
                <ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
                <ui-gmap-drawing-manager control="drawingManagerControl" events="drawevents" shapes="shapes">
                </ui-gmap-drawing-manager>
                <ui-gmap-marker ng-repeat="m in map.markers" options="m.opts" coords="m.coords" events="m.events" idkey="m.id">
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-primary" ng-show="selectedShape">
                <div class="panel-body panel">
                    <label>Label: </label><input type="text" ng-change="setLabel()" ng-model="selectedLabelContent"/>
                    <label>Color: </label><input type="color" ng-change="setColor()" ng-model="selectedColor"/>
                    <button class="btn btn-primary" ng-click="deleteShape()">Delete selected</button>
                </div>
            </div>
        </div>
    </div>
</div>