<% layout("../layout.ejs") %>
<script type="text/javascript" charset="utf-8" src="/js/modules/cymeriad.confirmClick.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/modules/cymeriad.services.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/modules/cymeriad.propertyFilter.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/modules/cymeriad.crudTable.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/applications/cymeriad.app.event.js"></script>
<script type='text/javascript' charset="utf-8" src="/js/controllers/cymeriad.controller.event.index.js"></script>
<div id="content" class="container" ng-app="cymeriad.app.event" ng-controller="cymeriad.controller.event.index" ng-init="init()">
    <h1 class="page-header hidden-xs hidden-sm">Events</h1>
    <div class="row">
        <crudtable table="event" columns="date|venue" sort="name" data="loadData(callback)"></crudtable>
    </div>
</div>